<!DOCTYPE HTML>
<html>
<head>
    <title>Github Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
github
<a href="https://github.com/login/oauth/authorize?client_id={{clientId}}&redirect_uri=http://localhost:8080/auth/github/callback">LOGIN</a>
</body>

</html>